body {
    background-color: beige;
}

h1 {
  text-align: center;
}

h2 {
    text-align: center;
    color: white;
    background-color:darkslategrey;
}

table, td, th {
    border: 2px solid;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }