html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
}

.h-navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    font-size: 19px;
    width: 100%;
    height: auto;
    background-color: darkgrey;
    border-bottom: 2px solid red;
}
.h-navbar li a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    transition: 500ms ease;
}
.h-navbar li a:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.active {
    background-color: black;
    color: white;
}


section {
    background-color: white;
}

.home-section {
    text-align: center;
    height: 100vh;
    width: 100%;
}
.home-section img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.home-section p {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70px;
    transform: translate(-50%, -50%);
    border-right: 9px solid black;
    margin: 0 auto;
    white-space: nowrap;
    font-size: 70px;
    cursor: pointer;
    animation: blinking-cursor 1s step-end infinite;
}

@keyframes blinking-cursor {
    from, to { border-color: black }
    50% { border-color: transparent; }
}

.text-center {
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;
}
.text-center-project-type {
    text-align: center;
    margin-bottom: 10px;
}

.about-section {
    padding: 100px 30px 0;
}
.about-container {
    display: flex;
    justify-content: center;
}
.about-container img {
    width: 25%;
}
.about-content {
    border: 1px solid;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.about-text p {
    padding: 10px 0;
}
.about-text li {
    list-style-position: inside;
    list-style-type: disc;
}
.about-code-language {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.skillProgressBorder {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: yellow;
    transition: all 500ms ease;
}
.skillCircle {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 30px;
    font-size: 30px;
    background-color: rgb(255, 180, 130);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.oppgave-section {
    padding: 100px 50px 0;
}
.oppgave-container {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.oppgave {
    margin: 10px;
    background-color: red;
    text-align: center;
    font-size: x-large;
    animation: blinking-oppgave-button 0.5s step-end infinite;
}

@keyframes blinking-oppgave-button {
    from, to { background-color: red; }
    20% { background-color: green; }
    40% { background-color: blue; }
    60% { background-color: yellow; }
    80% {background-color: white; }
}

.project-section {
    padding: 100px 0 0;
}
.project-container {
    padding: 0 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.project-content {
    margin: 20px;
    padding: 10px;
    width: 300px;
    border: 5px solid;
}
.project-content:hover {
    border-color:red
}
.project-content:hover h3 {
    color: red;
}
.project-content h3 {
    text-align: center;
    margin-bottom: 10px;
}
.project-content h4 {
    border: 1px solid;
    text-align: center;
    margin: 20px;
    padding: 10px 0;
    font-size: 18px;
    transition: 500ms ease;
}
.project-content h4:hover {
    color: red;
    scale: 1.1;
}

.contact-section {
    padding: 80px 50px;
    background-color: darkgray;
}
.contact-container {
    display: flex;
    justify-content: center;
}
.contact-container a {
    margin: 10px;
    opacity: 0.5;
    transition: 500ms;
}
.contact-container a:hover {
    opacity: 1;
}
.contact-container img{
    width: 50px;
}

/*
.v-navbar {
    position: absolute;
    left: -200px;
    width: 250px;
    height: 100%;
    background-color: rgb(139, 139, 169);
    transition-duration: 0.5s;
    display: grid;
    grid-area: sidebar;
    grid-template-columns: 200px 50px;
    grid-template-rows: 55px 100%;
    grid-template-areas:
        "HeadSidebar ShowMenu"
        "ListSidebar ShowMenu ";
}

.v-navbar header {
    background-color: grey;
    padding: 10px;
    text-align: center;
    color: black;
    font-size: xx-large;
    grid-area: HeadSidebar;
}

.v-navbar li {
    padding: 10px;
    grid-area: ListSidebar;
}

.v-navbar:hover {
    transition-duration: 0.5s;
    left: 0px
}

.v-navbar li a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

.v-navbar li a:hover {
    background-color: azure;
}

.v-navbar li a:target {
    background-color: azure;
}

#show_menu {
    grid-area: ShowMenu;
    background-color: grey;
}

#show_menu img {
    width: 50px;
}

.modal {
    display: none;
    position: fixed;
    left: 30vw;
    top: 100px;
    width: 40vw;
}

.closebtn {
    font-family: Arial;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    float: right;
    margin-right: 10px;
    color: #fff;
}

.closebtn:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.helpheader{
    background-color: #5e77a8;
    font-size: 25px;
    color: white;
}
.h2div {
    display: flex;
    justify-content: center;
}
.helptext {
    background-color: #777;
    padding: 2px 16px;
}
*/