.overskrift {
    text-align: center;
}

h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 6rem;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.eksempel_av_kode {
    border: 5px solid;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "te ra"
    "bu se";
}

.eksempel_boks {
    border: 2px solid green;
    margin: 10px;
    text-align: center;
}

#text_box {
    grid-area: te;
}
#radio_box {
    grid-area: ra;
}
#button_box {
    grid-area: bu;
}
#select_box {
    grid-area: se;
}



