body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.gameHeader {
    position: absolute;
    background-color: grey;
    width: 300px;
    height: 40px;
    border: 3px solid;
    margin: 15px;
    margin-left: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.battleButton {
    background-color: lightgray;
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

.battleButton:hover {
    cursor: pointer;
    background-color: white;
}

.endResult {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.army {
    opacity: 0;
    transition: 500ms all;
}
.soldier {
    width: 150px;
    height: 130px;
    position: absolute;
}
#soldierA {
    top: 230px;
    left: 130px;
}
#soldierB {
    top: 210px;
    left: 1000px;
    transform: rotate(180deg);
}

.rider {
    width: 340px;
    height: 130px;
    position: absolute;
}
#riderA {
    top: 220px;
    left: 60px;
}
#riderB {
    top: 220px;
    left: 900px;
    transform: rotate(180deg);
}

.cannoncrew {
    width: 720px;
    height: 250px;
    position: absolute;
}
#cannoncrewA {
    top: 160px;
    left: 80px;
}
#cannoncrewB {
    top: 150px;
    left: 500px;
    transform: rotate(180deg);
}