.container {
    display: flex;
}

.container div {
    flex-direction: column;
    border: 3px solid;
    max-width: 200px;
    word-wrap: break-word;
}

img {
    width: 200px;
    border-bottom: 3px solid pink;
}

.bilde1 {
    height: 200px;
}